asgiref
attrs
autopep8
Django~=5.2
django-cleanup
django-cors-headers~=4.7.0
django-modeltranslation~=0.19.14
django-silk
djangorestframework~=3.16.0
drf-spectacular~=0.28.0
drf-spectacular-sidecar
gprof2dot
inflection
jsonschema
jsonschema-specifications
pillow
psycopg2-binary
pycodestyle
python-decouple~=3.8
python-dotenv

django-environ~=0.12.0
gunicorn